<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
  <title>Mongo-Scraper</title>
  <link href="https://fonts.googleapis.com/css?family=Marcellus+SC" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  
</head>

<body>
  <nav class="navbar navbar-light pb-0 pt-1" style="font-family: 'Marcellus SC', serif;">
    <span class="navbar-brand m-0 p-0" id="logo"><img src="assets/img/newyorker-logo.png" alt="New Yorker Logo" width="100"></span>
    <a class="navbar-brand text-black" href="/">Home</a>
    <a class="navbar-brand text-black" id="saved" href="/saved">Saved Articles</a>
    <a class="btn btn-outline-dark" id="scrape-articles" type="button" style="background-color: transparent;">Scrape The Borowitz Report!</a>
  </nav>
  <div class="background-image">
    <div class="title text-center">
      <img class="newyorker" src="assets/img/newyorker.png">
      <br>
      <img class="satire" src="assets/img/satire.PNG">
    </div>
  </div>
  <br>
  <br>
  <div class="container">
    {{{ body }}}
  </div>
  <footer class="bg-dark pt-3 pb-2 text-center">
    <p class="text-white footer" style="font-family: 'Marcellus SC', serif;">All articles and images are brought to you by The New Yorker</p>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>
  <script src="/app.js"></script>
</body>
</html>