 img {
   width: 80%;
   height: auto;
 }

 #logo {
   width: 100px;
   height: auto;
 }

 nav {
   border-bottom: .1px solid #cfcfcf;
 }

 .newyorker {
   width: 40%;
   height: auto;
 }

 .satire {
   width: 35%;
   height: auto;
   padding-top: 80px;
 }

 .title {
   padding-top: 40px !important;
 }

 h2,
 h5 {
   color: black;
   font-family: 'Marcellus SC', serif;
 }

 h2 {
   font-size: 40px !important;
   padding-top: 30px !important;
 }

 #wrapper {
   width: 960px;
   margin-left: auto;
   margin-right: auto;
   padding-top: 5%;
 }

 #headlines {
   display: inline-block;
   overflow: auto;
   width: 60%;
   height: 700px;
 }

 #notes {
   float: right;
   width: 30%;
 }

 textarea,
 input {
   display: block;
   width: 100%;
   background-color: #FCF5C7;
 }

 input {
   height: 36px;
   font-size: 24px;
 }

 textarea {
   height: 200px;
   font-size: 18px;
 }

 .footer {
   font-size: 14px;
 }